/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
:root.theme-light {
  --rec-color: #353430;
  --accent-color: #FF8DCB;
  --menu-tx-color: #353430;
  --bg-color: #FFF1F7;
  --bg-image: url(/images/cover-image-light.png);
  --theme-title-color: #FFC2E6;
  --title-decor-color: #353430;
  --tx-color: #353430;
  --btn-color: #353430;
}
  /* Вам также нужно будет написать ряд подобных селекторов */
.theme-light .page {
  .rec {
    display: none;
  }
}
    /* Дублируем переменные светлой темы */  
@media (prefers-color-scheme: light) {
  :root {
  --rec-color: #353430;
  --accent-color: #FF8DCB;
  --menu-tx-color: #353430;
  --bg-color: #FFF1F7;
  --bg-image: url(/images/cover-image-light.png);
  --theme-title-color: #FFC2E6;
  --title-decor-color: #353430;
  --tx-color: #353430;
  --btn-color: #353430;
  }
}
