/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */
/* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
.page {
  font-size: 18px;
  font-family: "IBM Plex Mono", monospace;
  background-attachment: fixed;
  background-image: var(--bg-image);
  background-color: var(--bg-color);
  background-position: center;
  background-size: cover;
  padding: 10px;
}

html,
body {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 100%;
}

.header,
.main__content,
.footer,
img {
  inline-size: 100%;
}

.header {
  height: 100vh;
  block-size: 100%;
  min-height: 668px;
  display: grid;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-top: 1px var(--rec-color) solid;
  border-right: 1px var(--rec-color) solid;
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 0;
  border-bottom: 1px var(--rec-color) solid;
  border-left: 1px var(--rec-color) solid;
  width: 25px;
  height: 25px;
}

.header__theme-menu {
  display: grid;
  justify-content: end;
}

.rec {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  align-items: center;
  color: var(--accent-color);
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 9px;
  gap: 10px;
  display: flex;
}

.rec::after {
  content: "";
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px var(--hover-color) solid;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px var(--menu-tx-color) solid;
}

.header__theme-menu-button_active {
  border: 1px var(--menu-tx-color) solid;
  pointer-events: none;
}

.title-decor {
  background-color: var(--accent-color);
  font-family: IBM Plex Mono;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--title-decor-color);
}

.header__theme-menu-list {
  margin-block-start: 4.1rem;
  margin-inline-end: 7px;
  color: var(--btn-color);
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.theme-title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  color: var(--theme-title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  margin-block-start: 15px;
}

.header__theme-title-text {
  font-weight: 700;
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  grid-row: 3;
  height: 117px;
  margin-block-end: 20px;
}

.main__content {
  display: grid;
  margin-block-start: 30px;
  margin-block-end: 40px;
}

.mid-grid {
  margin-block-end: 50px;
}

.main__content-list-title {
  font-family: IBM Plex Mono;
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--menu-tx-color);
}

.main__content-list-item .title-decor,
.main__content-images .title-decor {
  font-weight: 700;
  margin-block: 10px;
}

.main__content-list-item .title-decor {
  margin-block-start: 20px;
}

.main__content-list-item p {
  font-family: IBM Plex Mono;
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--tx-color);
}

.main__content-list-item .main__content-list-item-regular {
  font-weight: 400;
}

.main__content-list-item-link {
  color: var(--tx-color);
  text-shadow: 2px 2px 0px var(--accent-color);
  text-decoration: none;
}

.main__content-list-item-link:hover {
  border-bottom: 1px var(--tx-color) solid;
}

.main__content-list-item-link:focus-visible {
  border: 1px var(--tx-color) solid;
  outline: none;
}

.mid-grid .main__content-list-title {
  margin-block-start: 10px;
}

.mid-grid .main__content-list-item {
  margin-block-start: 5px;
}

.main__content-images .main__content-list {
  gap: 10px;
  display: grid;
}

.footer {
  height: 100vh;
  block-size: 100%;
  display: grid;
  min-height: 668px;
}

.footer .theme-title {
  text-align: center;
  padding-block: 15.5rem;
  text-shadow: 2px 2px 0 var(--accent-color);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
}

@media (width >= 768px) {
  .decorated-zone::before {
    top: 10px;
    right: 10px;
  }

  .decorated-zone::after {
    bottom: 10px;
    left: 10px;
  }

  .rec {
    top: 8px;
    right: 18px;
  }

  .header__theme-menu-list {
    padding: 10px;
    padding-block-start: 7.4rem;
  }

  .theme-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-title-text {
    max-width: 364px;
    width: 100%;
    margin-inline-start: 23.4rem;
  }

  .main__content {
    display: grid;
    padding: 10px;
    gap: 20px;
  }

  .main__content-list-title {
    margin-block-start: 20px;
  }

  .grid-box {
    grid-template-columns: 236px 472px;
    margin-block-start: 40px;
  }

  .mid-grid {
    margin-block-start: 50px;
    margin-block-end: 0px;
  }

  .mid-grid .main__content-list {
    margin-block-start: -20px;
  }

  .mid-grid .main__content-list-title {
    max-width: 236px;
    width: 100%;
  }

  .grid-box .main__content-list {
    grid-column: 2;
  }

  .main__content-images .title-decor {
    margin-block-start: 20px;
  }

  .main__content-images .main__content-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }

  .main__content-list-item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .main__content-list-item-image:nth-child(1) {
    grid-column: 1 / span 2;
  }

  .main__content-list-item-image:nth-child(2) {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }

  .main__content-list-item-image:nth-child(3) {
    grid-column: 1;
    grid-row: span 2;
  }

  .main__content-list-item-image:nth-child(4) {
    grid-column: 2 / span 1;
  }

  .main__content-list-item-image:nth-child(5) {
    grid-column: 2 / span 3;
  }

  .footer {
    margin-block-start: 3rem;
  }

  .footer .theme-title {
    font-size: 120px;
    padding-block-start: 27.5rem;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    display: grid;
    grid-template-columns: 3fr 1fr 3fr;
  }

  .header__theme-menu-list {
    flex-direction: row;
    padding-block: 0;
    margin-block-start: 10px;
    grid-column: 2;
    gap: 25px;
  }

  .theme-title {
    margin-block-start: 11rem;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-title-text {
    max-width: 491px;
    width: 100%;
    margin-inline-start: 31.5rem;
    height: 71px;
  }

  .main__content {
    gap: 30px;
  }

  .main__content-list-title {
    margin-block-start: 20px;
  }

  .grid-box {
    grid-template-columns: 315px 649px;
    gap: 20px;
  }

  .mid-grid {
    margin-block-start: 50px;
    gap: 0;
  }

  .mid-grid .main__content-list-title {
    max-width: 315px;
    width: 100%;
    margin-block-end: 15px;
  }

  .mid-grid .main__content-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

  .main__content-list-item .title-decor,
  .main__content-images h2 {
    font-weight: 700;
  }

  .main__content-images .main__content-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-block-start: -1.2rem;
  }

  .footer {
    block-size: 100%;
    margin-block-start: 3.6rem;
  }

  .footer .theme-title {
    font-size: 157px;
    margin-block-start: -8rem;
  }
}
